/**{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}*/

/*.frontAdvert{
	background-color: White;
	height: 520px;
	width: 100%;
	border-bottom: 1px solid white;
	box-shadow: 0px 1.2px 15px #888888;
}

.medicalContent{
	background-color: OldLace;
	width: 100%;
	border: none;
	padding: 50px 35px;
}*/


.heade{
	height: 100%;
	width: 100%;
	border: none;
	padding: 50px 35px;
	background-color: red;
}
/*Advertisement 1*/
.advOne{
	top: 50%;
	left: 50%;
	padding: 20px;
	background-color: red;
}
/*Ad details*/
.advOne-text{
	width: 50%;
	float: left;
}
/*Ad pic*/
.advOne-pic{
	width: 50%;
	float: right;
}



/*.bottom{
	background-color: red; /*change the color to white at the end
	width: 100%;
	border: none;
	padding: 50px 35px;
}*/